@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.bgs{
  background:linear-gradient(0deg, rgba(143,138,255,1) 0%, rgba(255,255,255,1) 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 97%);
}
.clipPath{
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 97%);
}
header{
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  transition: all 0.3s ease;
}
header.sticky{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffffa6;
  backdrop-filter: blur(5px);
  box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 8%);
}
.servicesHeroSection{
  position: relative;
  z-index: 20;
}
.servicesHeroSection::before{
  content: '';
  width: 100%;
  height: 350px;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 97%);
  background:linear-gradient(0deg, rgba(143,138,255,1) 0%, rgba(255,255,255,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.embla {
  overflow: hidden;
  
}
.embla__container {
  display: flex;
  gap: 5px;
  cursor:grab;
  user-select: none;
}
.embla__slide {
  flex: 0 0 32.88%;
  min-width: 0;
}
@media (max-width:767px){
  .embla__slide {
    flex: 0 0 50%;
    min-width: 0;
  }
}
@media (max-width:400px){
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}